/* Makeshift CSS Reset */
{
  margin: 0;
  padding: 0;
}

/* Tell the browser to render HTML 5 elements as block */
header, footer, aside, nav, article {
  display: block;
}

body {
  font: 14px/22px helvetica, arial, freesans, clean, sans-serif;
  background-image: url("../images/bgimg.jpg");
  background-attachment: fixed;
  background-position: top right; 
  background-color: #FFFFFF;
  background-repeat: no-repeat;
}

#content {
	display: table;
}

#mainContent {
	display: table-cell;
}

#gap {
	display: table-cell;
width: 250px;
}

#sidebar {
	text-align: right;
	display: table-cell;
	width: 230px;
}
