/* Makeshift CSS Reset */
{
  margin: 0;
  padding: 0;
}

/* Tell the browser to render HTML 5 elements as block */
header, footer, aside, nav, article {
  display: block;
}

body {
  font: 14px/22px helvetica, arial, freesans, clean, sans-serif;
  width: 1024px;
  margin: auto;
  }

#page{
  background-image: url("../images/bgimg.jpg");
  background-attachment: local;
  background-position: 0px 0px; 
  background-color: #FFFFFF;
  background-repeat: no-repeat;
}

article {
  width: 536px;
}
