<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>{{ page.title }}</title>
  <meta name="author" content="Edd Porter" />
  <link rel="stylesheet" href="css/main.css" type="text/css" media="screen">
</head>
<body>
	<header>
	<h1>{{ page.title }}</h1>
	</header>
	<div id="content">
		<div id="maincontent">
	<section>
	{{ content }}
	</section>
</div>
	<aside id="gap">
	</aside>
	<aside id="sidebar">
	<!--	<a href="blog.html">Blog</a><br/> -->
	<a href="http://family.eddporter.com/">Family</a><br/>
	<a href="http://github.com/eddporter">GitHub</a>
	</aside>
</div>
	<footer>
	</footer>
</body>
</html>
